/*!
 * BootstraPHP Styles
 * Rikki Tripp - www.trippnology.com
 * Latest version: https://github.com/Trippnology/BootstraPHP
 *
 * Contents:
 *    Plugin stylesheets
 *    Text Styling
 *    Section Styling
 *    Utilities
 *    Media Queries
 *    Print Styles 
 *
 */

/* $Plugin stylesheets */
/* ######################################################### */
@import url('fancybox.css');
@import url('3d-photo-effect.css');
@import url('3d-rollover-effect.css');
@import url('3d-tilt-effect.css');
@import url('ui.totop.css');

/* $Text styling */
/* ######################################################### */
h1, h2, h3, h4, h5, h6 { font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.brand { font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.pagetitle { width: 100%; line-height: 1.5em; }
.pagetitle a:hover { text-decoration: none; }

/* $Section styling */
/* ######################################################### */
body { 
  padding-top: 50px; /* To account for the static navbar */
  font-family: "Source Code Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
.columnleft { margin-top: 2em; }
  nav.vert-menu { padding: 0.5em 0.5em 0.5em 1em; }
    nav.vert-menu ul.nav { padding: 0;}
  .share { padding: 0 1.5em 0.5em; }
.columnright { margin-top: 2em; }
  aside.sidebar { padding: 0.75em; }
    aside.sidebar h1 { margin-top: 0; }
footer[role=contentinfo] { text-align: center; }

/* $Utilities */
/* ######################################################### */
/* Apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.current { font-weight: bold; }
.borderdark { border: 1px solid #444; }
.borderlight { border: 1px solid #ccc; }
.antispam { cursor: help; }

/* Round Corners */
.roundsm {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.roundlrg {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box; 
}

/* Box Shadows */
.shadowleft {
  -webkit-box-shadow: -5px 5px 5px #ccc; 
     -moz-box-shadow: -5px 5px 5px #ccc; 
          box-shadow: -5px 5px 5px #ccc; 
}
.shadowright {
  -webkit-box-shadow: 5px 5px 5px #ccc; 
     -moz-box-shadow: 5px 5px 5px #ccc; 
          box-shadow: 5px 5px 5px #ccc; 
}

/* $Media Queries */
/* ######################################################### */

/* Landscape phones and down */
@media (max-width: 480px) {
  body { padding-top:0; } 
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  body { padding-top:0; }
  #left { display:none; }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
  body { padding-top:0; }
}

/* Most Desktop browsers */
@media (min-width: 980px) { 

}
 
/* Large desktop */
@media (min-width: 1200px) {

}

/* $Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r */
/* ######################################################### */

@media print {
  * { background: transparent !important; box-shadow:none !important; color: black !important; text-shadow: none !important; -ms-filter: none !important; filter:none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}